@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.05rem;
}

#root {
  background-color: #1e1b18;
}

.nav-item {
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  color: #000;
  font-weight: 700;
  line-height: normal;
}

.login-btn {
  border-radius: 10px;
  background: var(--Primary, #0000fe);
  color: var(--Shade-White, #fff);
  padding: 5px 30px;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.sign-up-btn {
  border-radius: 10px;
  border: 2px solid #d8315b;
  color: #fffaff;
  padding: 5px 30px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.mob-hero {
  width: 80px;
  height: 64px;
}

.custom {
  color: var(--Tetiary, #d8315b);
  text-align: center;
  font-family: "Anonymous Pro", monospace;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.print {
  color: var(--Secondary, #0187fd);
  text-align: center;
  font-family: "Anonymous Pro", monospace;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.fast {
  color: #0e935c;
  text-align: center;
  font-family: "Anonymous Pro", monospace;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.custom,
.fast,
.print {
  text-align: center;
}

.bg-side {
  background: linear-gradient(13deg, #00a7e9 0.73%, #002589 70.97%);
  border-radius: 0 100px 0 0;
}

.name {
  color: var(--Primary, #0000fe);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.description {
  color: var(--Text, #fffaff);
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.input-name {
  color: var(--white, #fff);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.action-btn {
  border-radius: 6px;
  background: var(--Primary, #0000fe);
  display: flex;
  padding: 16px 128px;
  justify-content: center;
  align-items: center;
  color: var(--white, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.action-btn:hover {
  border-radius: 6px;
  background: #0000a2;
  transition: 0.5s;
}

.input-text {
  color: #000;
  padding: 8px 16px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.link-action {
  color: var(--Secondary, var(--white, #0187fd));
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
}

.suggest-des {
  color: var(--white, #fff);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.active-tab {
  color: var(--Color-White, var(--white, #fff));
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background-color: #0000a2;
}

.dropdown-transition {
  transition-property: max-height, opacity;
  transition-duration: 0.5s; /* Adjust the duration as needed */
  transition-timing-function: ease-in-out;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}

/* Apply transition when the dropdown is open */
.dropdown-open {
  transition-duration: 0.5s; /* Adjust the duration as needed */
  transition-timing-function: ease-in-out;
  background: rgb(226, 223, 235);
  opacity: 1;
}

.dropdown-open a {
  display: block;
  color: #7482f6;
  text-decoration: none;
  padding: 10px 10px;
  transition: background-color 0.3s;
}

.icon {
  transition: transform 0.5s ease;
  cursor: pointer;

  /* transform: rotate(90deg); */
}

.dropdown-open a:hover {
  /* background-color: #7482f6; Darker blue for the active link */
  font-weight: bold;
  transition: 0.5s;
  color: white;
  cursor: pointer;
}

.sideBar-tabs {
  transition: ease-in-out 0.5s;
  border-bottom: none !important;
  width: 100% !important;
}

.nav-title {
  color: var(--Text, #fffaff);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media (max-width: 768px) {
  .description {
    color: var(--Text, #fffaff);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .input-name {
    color: var(--white, #fff);

    /* h2 */
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .suggest-des {
    color: var(--white, #fff);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .link-action {
    color: var(--white, #fff);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
  }

  .nav-title {
    color: var(--Text, #fffaff);

    /* H1 */
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .export {
    color: var(--Text, #fffaff);
    font-size: 8px;
    font-style: normal;
    font-weight: 500;
    line-height: 12.077px; /* 150.968% */
  }

  .sales {
    color: var(--Text, #fffaff);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .summary {
    color: var(--text-2, #a3a3a3);
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .gen-rec {
    color: var(--text-2, #a3a3a3);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}
